* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
@font-face {
    font-family: Almarai;
    src: url(../foonts/input/Almarai-Regular.ttf);
}

@font-face {
    font-family: Marhey;
    src: url(../foonts/btn/Marhey-VariableFont_wght.ttf);
}

@font-face {
    font-family:Amiri;
    src: url(../foonts/Amiri/Amiri-Regular.ttf);
}

:root {
    --first-font : Almarai ;
    --sacond-font : Amiri ;
    --btn-font : Marhey ;
}

body {
    transition: bacground-color .5s;
    height: 100vh;
    overflow: hidden;

}

main {
    background-color: var(--main-bacground);
    height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
}

.container {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* ********************* input style start ****************** */
form {
    position: relative;
    width: 100%;
    display: flex;
    background: #777;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.19);
    justify-content: space-between;
    margin-bottom: 50px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.3s;
}

form input[type="text"] {
    font-family: var(--first-font);
    width: 90%;
    padding: 9px 15px;
    border-radius: 10px;
    border: 0;
    transition: 0.3s;
    font-size: 20px;
    text-transform: capitalize;

}

input[type="text"]:focus {
    outline: 0;
    background-color: #eee;
}

form input[type="submit"] {
    display: none;
}

.supmit-label {
    width: fit-content;
    flex: 0.1;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    opacity: 1;
    transition: .5s;
    display: flex;
    align-items: center;
}

.supmit-label:hover {
    opacity: 0.5;
}

.supmit-label img {
    width: 40px;
}

form input[type="submit"]:focus+.supmit-label {
    opacity: 0.5;
}

form .arro-img {
    position: absolute;
    width: 207px;
    top: 103%;
    right: -141px;
    z-index: -30;
    transform: translateY(-30%) rotate(-11deg);
}

/* ********************* input style end ****************** */


/* ********************* parent taskes style start ****************** */

.text-tasc {
    width: 100%;
    height: calc(70%);
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.19);
    transform: translateX(100%);
    opacity: 0;
    transition: 0.3s;
    transition-property: opacity, transform;
    margin-bottom: 20px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10%;
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
}

/* ********************* parent taskes style end ****************** */

/* ********************* taskes style start ****************** */

.tasc,
.done {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: background-color .3s;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 10px #bed1d3;
    font-family: var(--sacond-font);
    cursor: pointer;
}



.tasc p {
    overflow: hidden;
    word-break: break-word;
    line-height: 1.5;
    width: 80%;
}


.done:hover,
.tasc:hover {
    background-color: #bed1d3;
}

.tasc img {
    transform: scale(0);
    width: 0;
}


.done {
    background-image: linear-gradient(135deg, #00000078 10%, #81FBB8 100%);
    transition: background .5s;
}
.done p {
    text-decoration: line-through;
}

.done img {
    width: 30px;
    bottom: 5px;
    transform: scale(1);
    animation: jello-vertical 1s 1 both;
    margin: 0 10px;
}

.btn {
    padding: 5px 10px;
    color: #fff;
    background-color: tomato;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    width: 70px;
    transition: background .3s;
    font-family: var(--btn-font);
}

.btn:hover {
    background-color: rgb(255, 0, 0);
}

.sign {
    animation: tilt-in-right-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dell_anima {
    animation: scale-out-hor-right .5s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes tilt-in-right-2 {
    0% {
        -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-right-2 {
    0% {
        -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

@keyframes scale-out-hor-right {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        opacity: 1
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
        opacity: 1
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(.75, 1.25, 1)
    }

    40% {
        transform: scale3d(1.25, .75, 1)
    }

    50% {
        transform: scale3d(.85, 1.15, 1)
    }

    65% {
        transform: scale3d(1.05, .95, 1)
    }

    75% {
        transform: scale3d(.95, 1.05, 1)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}


/* ********************* taskes style end ****************** */


/* ********************* btn dellAll style start ****************** */


#dellAll {
    width: 50%;
    padding: 5px 10px;
    color: #fff;
    background-color: tomato;
    border: 2px solid tomato;
    border-radius: 10px;
    text-align-last: center;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
    transition-property: transform, opacity, color, background-color, border;
    transform: translateX(100%);
    margin-bottom: 50px;
    font-size: 14px;
    font-family: var(--btn-font);
}

#dellAll:hover {
    background-color: #ff0000;
    border: 2px solid #fff;
}

/* ********************* btn dellAll style end ****************** */

.show {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

@media (max-width:768px) {

    .container {
        width: 80%;

    }

    .text-tasc {
        max-height: 600px;
        top: 18%;
    }

    form {
        margin-bottom: 30px;
    }

    form>img:first-of-type {
        position: absolute;
        width: 78px;
        top: 102%;
        right: -55px;
        transform: translateY(-30%) rotate(-10deg);
    }

}

/* ********************* footer style start ****************** */
footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 12;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    background-color: transparent;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s;
    transition-property: opacity, transform;
    background-color: #fff;
    overflow: hidden;
}

footer a {
    color: #000;
    display: block;
    font-family: var(--sacond-font);
}

footer span {
    color: #000;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    background: #F85032;
    background: linear-gradient(to right, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo 1s infinite alternate cubic-bezier(0.88, 1.69, 0.74, 0.54);
}

@keyframes logo {
    0% {
        transform: scale(0);
    }

    50% {

        transform: scale(1.5);
        transform: scale(0);
    }
}

/* ********************* footer style end ****************** */


/* ********************* java script setting and style ***** */

#set {
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%);
    right: -100%;
    overflow: hidden;
    cursor: pointer;
    transition: color .3s;
    transition-property: border;
    background-color: #fff;
    z-index: 10;
}

@media (min-width:768px) {
    #set {
        width: 50px;
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    #set img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}

@media (max-width:768px) {
    #set {
        width: 35px;
        width: fit-content;
        height: 35px;
    }
    
    #set img {
        width: 35px;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}


#set:hover {
    border: 2px solid rgb(158, 231, 231);
}

#set:hover img {
    margin-right: 10px;
    
}

.set-div-click {
    position: absolute;
    width: 30vw !important;
    background-color: #424040 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 20;
    padding: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: .5s !important;
    transition-property: opacity, transform;
    
}

.set-div-click .xclose {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    top: 10%;
    right:10%;
}

.set-div-click .xclose img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transition-property: opacity, transform;
}

.set-div-click .xclose img:hover {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.5;
}

.set-div-click .colors {
    margin-top: 50px;
    display: flex;
    flex-flow: column ;
    align-items: center;
    position: relative;
    width: 500px;
}

.set-div-click .colors::before {
    content: attr(data-text);
    position: absolute;
    top: -20%;
    font-size: 20px;
    font-family:var(--first-font) ;
    color: #fff;
}

.set-div-click .colors>div {
    width: 80%;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}


.set-div-click .colors div[data-color="#795548"] {
    background-color: #795548;
}

.set-div-click .colors div[data-color="#ad6c0a"] {
    background-color: #ad6c0a;
}

.set-div-click .colors div[data-color="#58af7f"] {
    background-color: #58af7f;
}

.set-div-click .colors div[data-color="#eef3ea"] {
    background-color: #eef3ea;
}

.set-div-click .colors div[data-color="#f257ff2e"] {
    background-color: #f257ff2e;
}

.show-2 {
    transform: translate(0, 0) !important;
    opacity: 1;
}

.loding {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
    cursor: wait;
    
}


.finish_loding {
    transition: opacity 0.3s;
    opacity: 0;
    display: none;
}

.blur_loding {
    filter: blur(100px);
}




.finish_blur_loding {
    transition: filter 0.5s;
    filter: blur(0);
}



.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 100;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--sacond-font);
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.61);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.ring span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(to left, #000, #000);
    ;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #777;
}




@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    
    100% {
        transform: rotate(405deg);
    }
}

/* ********************* java script setting and style end  ***** */


.spikes {
    position: relative;
    height: 30px;
    background-color: white;
    z-index: -1;
}

.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 10;
    display: block;
    background-size: 60px 115%;
    background-image: linear-gradient(135deg, var(--main-bacground) 25%, transparent 25%), linear-gradient(225deg, var(--main-bacground) 25%, transparent 25%);
    background-position: 0 0;
    left: 0;
}
